
:root{
  --white: #FFF;
  --black: #24292d;
  --menus: #070a11;
  --switchers-main: #192238;
  --light-bg: #dde0e7;
  --hover-color: #407cff;
}


section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
}
section .color{
  position: fixed;
  filter: blur(150px);
}

section .color:nth-child(1){
  top: -350px;
  width: 800px;
  height: 800px;
  background: #c88dff;
}

section .color:nth-child(2){
  bottom: -150px;
  left: 100px;
  width: 550px;
  height: 550px;
  background: #7ca5ff;
}

section .color:nth-child(3){
  bottom: 50px;
  right: 100px;
  width: 400px;
  height: 400px;
  background: #ab91ff;
}
.box{
  position: relative;
}


*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all.2s linear;
  line-height: 1.5;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: var(--light-bg);
}
body{
  min-height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%
}

.chat {
  width: 100% !important;
  height: 94% !important;
}

.mapa{
  width: 100% !important;
  height: 94% !important;
}

.profes{
  width: 100% !important;
  height: 94% !important;
}

.alumnos{
  width: 100% !important;
  height: 94% !important;
}
