<section class="body">
  <header>
    <!--Logo-->
    <a routerLink="" class="logo"><span>Virtual</span>Gadget</a>
    <input type="checkbox" id="menu-bar">
    <label for="menu-bar" class="fas fa-bars"></label>
    <!--Vinculos-->
    <nav class="navbar">
        <a routerLink="/auth/login" class="spectre">Iniciar Sesion</a>
    </nav>
  </header>
  <!--Bienvenida-->
  <section class="home" id="home">
    <img src=".//../../../../../assets/img/logo_small_icon_only.svg" alt="">
    <h1 class="text"><span>Virtual</span>Gadget</h1>
  </section>
  <!--Somos-->
  <section class="cuad2">

  </section>
  <section class="somos" id="somos">
    <div class="contenedorTitulo">
        <i class="fas fa-users"></i><h3>Somos</h3><i class="fas fa-users"></i>
    </div>
    <div class="contenedor">
        <p class="som">Una empresa totalmente responsable en su trabajo dedicada a mejorar la
            salud de los clientes haciendo conciencia desde un ámbito tecnológico y
            Promover en la población el cuidado de la salud con ayuda de datos obtenidos mediante aplicaciones web, además de
            concientizar a las personas respecto a la importancia que tiene cuidado de su salud.
        </p>
    </div>
  </section>
  <section class="cuad">

  </section>
  <!--Valores, mision y vision-->
  <section class="tres" id="tres">
    <div class="container">
        <i class="fas fa-hand-point-up"></i>
        <h3>Valores</h3>
        <p>Somos un equipo respetuoso con los clientes y con los integrantes del mismo,
            asi mismo siempre buscamos mejorar en cada uno de los proyectos para
            si llevar a los usuarios la mejor calidad en nuestros servicios.
        </p>
        <img src="./../../../../../assets/img/equipo.png" alt="">
    </div>
    <div class="container">
        <i class="fas fa-eye"></i>
        <h3>Visión</h3>
        <p>En VirtualGadget nos vemos satisfaciendo las necesidades de nuestros
            clientes, ofreciéndoles servicios de calidad, formando con ello una
            reputación sólida en el campo del desarrollo de software y convirtiéndonos
            así en una empresa líder a nivel global en el ámbito de la programación,
            conocida por crear entornos digitales de alta calidad.
        </p>
        <img src="./../../../../../assets/img/vision.png" alt="">
    </div>
    <div class="container">
        <i class="fas fa-crosshairs"></i>
        <h3>Misión</h3>
        <p>VirtualGadget es una empresa desarrolladora de software encaminada a brindar un
            servicio de calidad, estableciendo una relación de responsabilidad y honestidad
            en cada uno de nuestros trabajos, garantizando así la satisfacción de
            cada uno de nuestros clientes y usuarios.
        </p>
        <img src="./../../../../../assets/img/motivacion.png" alt="">
    </div>
  </section>
  <!--Filosofia-->
  <section class="filosofia" id="filosofia">
    <div class="caja">
        <h3>Filosofía</h3>
        <p>Garantizar la satisfacción de cada uno de nuestros clientes y usuarios.
        Brindando un servicio de calidad.</p>
        <img src="./../../../../../assets/img/entrenamiento.png" alt="">
    </div>
  </section>
  <!--Politicas-->
  <section class="politicas" id="politicas">
    <div class="contenedorTitulo">
        <i class="fas fa-landmark"></i><h3>Políticas</h3><i class="fas fa-landmark"></i>
    </div>
    <div class="cont">
        <div class="cajaTxt">
            <ul>
                <li>Facilitar y promocionar cursos de capacitación que formen parte de un proceso obligatorio a los nuevos ingresos de la empresa.</li>
                <li>Darle bienestar y valor a ley común a los diferentes tipos de ingresos financieros o a las diversas oportunidades de mercado.</li>
                <li>Rechazar la corrupción tanto en los jefes de departamento como medios de la organización.</li>
            </ul>
            <img src="./../../../../../assets/img/constitution.png" width="30%">
        </div>
        <div class="cajaTxt">
            <ul>
                <li>Fomentar un espíritu laboral agradable tanto en superiores como empleados para el buen funcionamiento de la empresa.</li>
                <li>Formar nuevos trabajadores de forma directa e indirecta para el desarrollo óptimo empresarial.</li>
                <li> Ofrecer el mejor trato a nuestros clientes para la mayor confianza y seguridad al contratar nuestros servicios.</li>
            </ul>
            <img src="./../../../../../assets/img/political-party.png" width="30%">
        </div>
    </div>
  </section>
  <!--Nombres-->
  <section class="onda">
  </section>
  <section class="nombres" id="nombres">
    <h3 class="titu">Nuestro Equipo</h3>

    <div class="lista">
        <div class="card">
            <div class="imgBx">
                <!-- <img src="./img/Perfil.jpg" alt=""> -->
            </div>
            <div class="content">
                <div class="details">
                    <h2>Núñez Manrique Cuauhtémoc Emmanuel
                        <br>
                        <span>Dirección General del equipo</span>
                    </h2>
                    <div class="data">
                        <h3>Diseñador<br><span> General</span><br></h3>
                        <h3>Programador<br><span> de Front End</span><br></h3>
                        <h3>Programador<br><span> de Back End</span><br></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <!-- <img src="./img/Perfil.jpg" alt=""> -->
            </div>
            <div class="content">
                <div class="details">
                    <h2>Ortiz Lorenzo Melissa Anaxiranny
                        <br>
                        <span>Encargada de documentacion</span>
                    </h2>
                    <div class="data">
                        <h3>Programadora<br><span> de Front End</span><br></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="lista">
        <div class="card">
            <div class="imgBx">
                <!-- <img src="./img/Perfil.jpg" alt=""> -->
            </div>
            <div class="content">
                <div class="details">
                    <h2>Arana Chávez Emiliano
                        <br>
                        <span>Programador de back end</span>
                    </h2>
                    <div class="data">
                        <h3>Programador<br><span> de android</span><br></h3>
                        <h3>Probador<br><span> de software</span><br></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <!-- <img src="./img/Perfil.jpg" alt=""> -->
            </div>
            <div class="content">
                <div class="details">
                    <h2>De la Cruz Fuentes Diego
                        <br>
                        <span>Encargado de Bases de Datos</span>
                    </h2>
                    <div class="data">
                        <h3>Programador<br><span> de back end</span><br></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="lista">
        <div class="card">
            <div class="imgBx">
                <!-- <img src="./img/Perfil.jpg" alt=""> -->
            </div>
            <div class="content">
                <div class="details">
                    <h2>Lizárraga Anguiano Jesús Adrián
                        <br>
                        <span>Encargado de Pruebas</span>
                    </h2>
                    <div class="data">
                        <h3>Programador<br><span> de back end</span><br></h3>
                        <h3>Programador<br><span> de android</span><br></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <!-- <img src="./img/Perfil.jpg" alt=""> -->
                <!-- <img src="../../../../../assets/img/foto1.png" alt=""> -->
            </div>
            <div class="content">
                <div class="details">
                    <h2>Regalado Zúñiga Leonardo Daniel
                        <br>
                        <span>Encargado de Programación</span>
                    </h2>
                    <div class="data">
                        <h3>Programador <br><span> de back end</span><br></h3>
                        <h3>Programador <br><span> de android</span><br></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <section class="onda2">
  </section>
  <!--Mascota-->
  <section class="mascota" id="mascota">
    <div class="save">
        <div class="tx">
            <h1>BlueMile
            </h1>
            <h2> La mascota del equipo, mmmm parece que ha llegado de un universo de ciencia ficción.
              Este amigo tiene la misión de guiar a los nuevos visitantes a las aplicaciones, pero cuidado no es bueno sobrecargarlo</h2>
            <p>Parece que a desaparecido esta sección, quiza alguna forma de
                inteligencia artificial nos ayude al equipo a recuperar lo
                que se colocaría aqui .
            </p>
            <p>
                Talvez tengamos que esperar más de lo planeado o un jetpack lo
                traiga a donde nosotros.....
            </p>
        </div>
        <img src="../../../../../assets/img/Bobba.png" width="35%">
    </div>
  </section>
  <!--Footer-->
  <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Compañia</h4>
                <ul>
                    <li><a href="#somos">Acerca de nosotros</a></li>
                    <li><a routerLink="/auth/politics">Politicas de privacidad</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>¿Necesitas ayuda?</h4>
                <ul>
                    <li><a routerLink="/auth/ayuda">Centro de ayuda</a></li>
                    <li><a href="./ayuda.html">Inicio de sesión</a></li>
                    <li><a href="./ayuda.html">Status de solicitud</a></li>
                    <li><a href="./ayuda.html">Otros problemas</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Integrantes</h4>
                <ul>
                    <li>arana chavez emiliano</li>
                    <li>de la cruz fuentes diego</li>
                    <li>lizarraga anguiano jesus adrian</li>
                    <li>nuñez manrique cuauhtemoc emmanuel</li>
                    <li>Ortiz Lorenzo Melissa Anaxiranny</li>
                    <li>regalado zuñiga leonardo daniel</li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Siguenos</h4>
                <div class="social-media">
                    <ul>
                        <li><p id=facebook><i class="fab fa-facebook"></i>facebook</p></li>
                        <li><p id="instagram"><i class="fab fa-instagram"></i>Instagram</p></li>
                        <li><p id="twitter"><i class="fab fa-twitter"></i>Twitter</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </footer>

</section>
