
<header class="header">
  <h3>Spectre</h3>
  <h2> Administrador </h2>
  <div class="perfil">
 <!--     <img src="./img/mascota1.svg" width="75px"">-->

      <div class="contenedor">
          <p>Nombre</p>

          <i class="fas fa-globe"></i> <span class="online">online</span>
      </div>
  </div>
  <nav class="direccion">
      <h2>Menu</h2>
      <div class="links">
          <div>
              <a href="./inicio.html" class="as"><i class="fas fa-home"> </i><span>Inicio</span></a>
          </div>
      </div>
     <div class="links">
          <div>
              <a href="./foro.html" class="as"><i class="fas fa-comments"></i><span>Alumnos</span></a>
          </div>
     </div>
     <div class="links">
      <div>
          <a href="./tutoriales.html" class="as"><i class="fas fa-hands-helping"></i><span>Profesores</span></a>
      </div>
  </div>
  </nav>
  <div class="salida">
      <a href="./index.html" class="exit"><i class="fas fa-door-closed"><span>Cerrar sesion</span></i></a>
  </div>
</header>
