/*Bienvenida*/
.home{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: url(../../../../../assets/img/curvas.svg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.home .text{
  position: relative;
  font-size: 6em;
  text-align: center;
  color: #112653;
  /*animacion entrada*/
  animation: bounceInRight;
  animation-duration: 1s;
  transition: all 500ms ease;
}
/* Virtual*/
.home .text span{
  color: white;
}
.home img{
  position: relative;
  width: 40%;
  animation: bounceInLeft;
  animation-duration: 1s;
  transition: all 500ms ease;
}
.home img:hover{
  transform: scale(1.5);
}

/*Conocenos*/
.conocenos{
  overflow: hidden;
}
.conocenos h1{
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.conocenos .heading{
  color: white;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
  font-size: 4em;
}
.conocenos .column{
  background: #9eb9ec57;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  margin-top: 50px;
  border-radius: 30px;
}
.conocenos .column img{
  width: 600px;
  height: 300px;
  margin: 20px;
  transition: all 500ms ease;
}
.conocenos .column .content{
  width: 400px;
  color: white;
  font-size: 18px;
  transition: all 500ms ease;

}
.conocenos .column img:hover{
  transform: scale(1.1);
  transition: all 500ms ease;
}

/*Valores*/
.features .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.features .box-container .box{
  flex:1 1 30rem;
  background: rgba(255, 255, 255, 0.774);
  border-radius: .7rem;
  border:.1rem solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, 0.281);
  margin:1.5rem;
  padding: 3rem 2rem;
  border-radius: .7rem;
  text-align: center;
  transition: .2s linear;
}

.features h1{
  text-align: center;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
  font-size: 4em;
  color: rgb(255, 255, 255);
  padding-top: 1rem;
  margin: 30px;
}
.features .box-container .box p{
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  padding: 1rem 0;
}

.features .box-container .box1{
  width: 250px;
  height: 200px;
  background: rgba(21, 50, 112, 0.774);
  border-radius: .7rem;
  border:.1rem solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, 0.281);
  margin:1.5rem;
  border-radius: .7rem;
  text-align: center;
  transition: .2s linear;
}

.features .box-container .box1 h3{
  font-size: 2rem;
  color: rgb(120, 155, 236);
  padding: 5px;
}
.features .box-container .box1 p{
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  padding: 5px;
  text-align: justify;
}

.features .box-container .box1:hover{
  transform: scale(1.1);
  background: rgba(56, 107, 226, 0.774);
}

/*Servicios*/
.Servicios h1{
  text-align: center;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
  font-size: 4em;
  color: rgb(255, 255, 255);
  padding-top: 1rem;
  margin-top: 30px;
  margin-bottom: 10px;
}

.Servicios h2{
  text-align: center;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
  font-size: 3em;
  color: rgb(255, 255, 255);
  padding-top: 1rem;
  margin: 30px;
}

.Servicios .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.Servicios .box-container .box{
  width: 300px;
  height: 400px;
  background-image: -moz-linear-gradient(to top, #759ff8, #ffffff);
  border-radius: .7rem;
  border:.1rem solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, 0.281);
  margin:1.5rem;
  border-radius: .7rem;
  text-align: center;
  transition: .2s linear;
  padding: 10px;
}
.Servicios .box-container .box .title{
  color:rgb(28, 50, 112);
  font-weight: bold;
  font-size: 1.8em;
  margin: 10px;
}

