<link rel="shortcut icon" href="../../../../../assets/img/logo_small_icon_only_inverted.ico">
<script src="https://kit.fontawesome.com/a78d4ea77b.js" crossorigin="anonymous"></script>

<header>

  <!--Logo-->

  <a href="" class="logo"><span>Virtual</span>Gadget</a>
  <input type="checkbox" id="menu-bar">
  <label for="menu-bar" class="fas fa-bars"></label>

  <!--Vinculos-->

  <nav class="navbar">
      <a href="#home">Inicio</a>
      <a href="#conocenos">Conocenos</a>
      <a href="#Servicios">Servicios</a>
      <a class="spectre" routerLink="/auth/login" >Spectre</a>
  </nav>
</header>

<!--Bienvenida-->

<section class="home" id="home">
  <img src="../../../../../assets/img/logo_small_icon_only.svg" alt="">
  <h1 class="text"><span>Virtual</span>Gadget</h1>
</section>

<!--Conocenos-->

<section class="conocenos" id="conocenos">
  <h1 class="heading">Conocenos</h1>
  <div class="column">
      <div class="image">
          <img src="../../../../../assets/img/undraw_online_test_gba7.svg" alt="">
      </div>
      <div class="content">
          <h3>Quienes somos</h3>
          <p>Una empresa totalmente responsable en su trabajo dedicada a mejorar la salud de los clientes haciendo conciencia desde un ámbito tecnológico y Promover en la población el cuidado de la salud con ayuda de datos obtenidos mediante aplicaciones web, además de concientizar a las personas respecto a la importancia que tiene cuidado de su salud.</p>
      </div>
  </div>
  <div class="column">
      <div class="content">
          <h3>Filosofia</h3>
          <p>Somos un equipo de trabajo cuyo objetivo es mejorar las experiencias al momento de desarrollar programas, así como el aprendizaje de la programación </p>
      </div>
      <div class="image">
          <img src="../../../../../assets/img/undraw_visualization_c2ps (3).svg" alt="">
      </div>
  </div>
  <div class="column">
      <div class="image">
          <img src="../../../../../assets/img/undraw_Project_completed_re_pqqq (1).svg" alt="">
      </div>
      <div class="content">
          <h3>Objetivo</h3>
          <p>Nuestro objetivo es hacer experiencias unicaspara los usuarios, asi como ayudar a la comprensión de la tecnologia</p>
      </div>
  </div>
</section>

<!--Valores-->

<section class="features" id="features">
  <h1 class="heading">Valores</h1>
  <div class="box-container">
      <div class="box1">
          <h3>Amor</h3>
          <p>Tanto en nuestro trabajo como en proyectos demostramos nuestro arduo trabajo dando todo el amor posible a nuestros programas y trabajos por hacer</p>
      </div>
      <div class="box1">
          <h3>Amistad</h3>
          <p>En nuestra empresa el lugar de trabajo siempre es ameno y tranquilo para todos los trabajadores, además, mantenemos un ambiente amistoso para mayor rendimiento y sea más agradable el ambiente. </p>
      </div>
      <div class="box1">
          <h3>Confianza</h3>
          <p>Siempre mantenemos un ambiente de confianza en nuestro lugar de trabajo con nuestros empleados para transmitir esa confianza a nuestros clientes, además, somos la empresa en la que los clientes pueden confiar en nosotros debido a nuestro gran equipo.</p>
      </div>
      <div class="box1">
          <h3>Fraternidad</h3>
          <p>Buscamos estar en un lugar donde todos nos sintamos como hermanos trabajando en un mismo equipo y tener un mejor rendimiento a la hora de hacer proyectos.</p>
      </div>
      <div class="box1">
          <h3>Honor</h3>
          <p>A la hora de desarrollar los productos pedidos por el cliente damos todo de nosotros para mantener el honor de la empresa en alto y adquirir buenas criticas y recomendaciones de nuestros clientes.</p>
      </div>
      <div class="box1">
          <h3>Honradez</h3>
          <p>Cuando trabajamos en el producto solicitado lo hacemos con toda honradez ya que un buen proyecto siempre sale mejor usando este tipo de valores.</p>
      </div>
      <div class="box1">
          <h3>Justicia</h3>
          <p>Somos muy justos con nuestros trabajadores para que puedan dar lo mejor de ellos y podamos dar lo mejor de nosotros en el producto final.</p>
      </div>
      <div class="box1">
          <h3>Solidaridad</h3>
          <p>Somos muy solidarios con nuestro equipo y con los clientes al tratar de entender la razón de las cosas y el por qué piden lo que solicitan </p>
      </div>
      <div class="box1">
          <h3>Paz</h3>
          <p>En nuestro lugar de trabajo buscamos siempre mantener un ambiente de paz para que el equipo y los clientes se sientan más relajados y seguros al trabajar o contratar los servicios de nuestra empresa.</p>
      </div>
      <div class="box1">
          <h3>Respeto</h3>
          <p>Somos respetuosos al dirigirnos con nuestro equipo y clientes para mantener un ambiente pacifico y seguro para las dos partes.</p>
      </div>
      <div class="box1">
          <h3>Tolerancia</h3>
          <p>Somos tolerantes con nuestro equipo ante las situaciones difíciles y buscamos entender lo mejor posible la situación analizándola, además, somos muy tolerantes en tanto a las peticiones del cliente dentro de un rango de tolerancia.</p>
      </div>
  </div>
</section>

<!--Servicios-->

<section class="Servicios" id="Servicios">
  <h1 class="heading">Servicios</h1>
  <br>
  <h2>Spectre</h2>
  <div class="box-container">
      <div class="box">
          <h3 class="title">Diagramas de Flujo</h3>
          <div class="price">$0
              <span>de costo inicial</span>
          </div>
          <ul>
              <li>
                  <i class="fas fa-check"></i>Crea diagramas y simulaciones
              </li>
              <li>
                  <i class="fas fa-check"></i>Crea diagramas y simulaciones
              </li>
              <li>
                  <i class="fas fa-check"></i>Crea diagramas y simulaciones
              </li>
              <li>
                  <i class="fas fa-check"></i>Crea diagramas y simulaciones
              </li>
              <li>
                  <i class="fas fa-check"></i>Crea diagramas y simulaciones
              </li>
          </ul>
          <button>Ingresar Ahora</button>
      </div>
      <div class="box">
          <h3 class="title">Diagramas de Casos de uso</h3>
          <div class="price">$0
              <span>de costo inicial</span>
          </div>
          <ul>
              <li>
                  <i class="fas fa-check"></i>Crea diagramas y simulaciones
              </li>
              <li>
                  <i class="fas fa-check"></i>Crea diagramas y simulaciones
              </li>
              <li>
                  <i class="fas fa-check"></i>Crea diagramas y simulaciones
              </li>
              <li>
                  <i class="fas fa-check"></i>Crea diagramas y simulaciones
              </li>
              <li>
                  <i class="fas fa-check"></i>Crea diagramas y simulaciones
              </li>
          </ul>
          <button>Ingresar Ahora</button>
      </div>
  </div>
</section>
<!--Footer-->
<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="footer-col">
              <h4>Compañia</h4>
              <ul>
                  <li><a href="#">Acerca de nosotros</a></li>
                  <li><a href="#">Politicas de privacidad</a></li>
              </ul>
          </div>
          <div class="footer-col">
              <h4>¿Necesitas ayuda?</h4>
              <ul>
                  <li><a href="#">Inicio de sesion</a></li>
                  <li><a href="#">Progreso</a></li>
                  <li><a href="#">Status de solicitud</a></li>
                  <li><a href="#">Otros problemas</a></li>
              </ul>
          </div>
          <div class="footer-col">
              <h4>Integrantes</h4>
              <ul>
                  <li>arana chavez emiliano</li>
                  <li>de la cruz fuentes diego</li>
                  <li>lizarraga anguiano jesus adrian</li>
                  <li>nuñez manrique cuauhtemoc emmanuel</li>
                  <li>orduña melendez arantza</li>
                  <li>regalado zuñiga leonardo daniel</li>
              </ul>
          </div>
          <div class="footer-col">
              <h4>Siguenos</h4>
              <div class="social-media">
                  <ul>
                      <li><p id=facebook><i class="fab fa-facebook-square fa-3x"></i>facebook</p></li>
                      <li><p id="instagram"><i class="fab fa-instagram-square  fa-3x"></i>Instagram</p></li>
                      <li><p id="twitter"><i class="fab fa-twitter-square fa-3x" ></i>Twitter</p></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer>
