<link rel="shortcut icon" href="../../../../../assets/img/logo_small_icon_only_inverted.ico">
<script src="https://kit.fontawesome.com/a78d4ea77b.js" crossorigin="anonymous"></script>

<section class="body">
  <header>
    <!--Logo-->
    <a href="./index.html" class="logo"><span>Virtual</span>Gadget</a>
    <!--Vinculos-->
  </header>
  <section>
    <div class="box">
        <h1 id="titulo">Bienvenidos</h1>
        <div class="wrapper">
            <h3>"Hazlo Virtual"</h3>
        </div>
        <div class="container">
              <a class="spectre" routerLink="/auth/empresa" >
                <div class="box-2">
                    <div class="btn btn-two">
                      <span>Conocenos</span>
                    </div>
                </div>
            </a>
            <a routerLink="/auth/login">
                <div class="box-2">
                    <div class="btn btn-3">
                      <span>Spektre</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
  </section>
</section>
