<link rel="shortcut icon" href="../../../../../assets/img/logo_small_icon_only_inverted.ico">
<script src="https://kit.fontawesome.com/a78d4ea77b.js" crossorigin="anonymous"></script>

<section class="body">
  <header>
    <a href="#">Comunidad</a>
    <a href="#actualizaciones">Actualizaciones</a>
    <!--Logo-->
    <a href="./index.html" class="logo"><span>Virtual</span>Gadget</a>
    <!--Vinculos-->
    <a href="#">Productos</a>
    <a routerLink="/auth/ayuda">Soporte Técnico</a>
  </header>
  <div class="inicio">
    <div class="fondo">
      <div class="texto">
        <h1>Bienvenidos</h1>
        <h3>Virtual<span>Gadget</span></h3>
        <p>Se bienvenido a VirtualGadget, selecciona la pagina que quieras visitar</p>
        <img src="../../../../../assets/img/kisspng-3d-computer-graphics-three-dimensional-space-wallp-3d-tech-blue-box-space-5a8b3b4d5cc747.27305524151907412538.png" alt="">
        <img src="../../../../../assets/img/kisspng-3d-computer-graphics-three-dimensional-space-wallp-3d-tech-blue-box-space-5a8b3b4d5cc747.27305524151907412538.png" class="img2">
        <div class="container">
          <a class="spectre" routerLink="/auth/empresa" >
            <div class="box-2">
                <div class="btn btn-two">
                  <span>Conocenos</span>
                </div>
            </div>
        </a>
        <a routerLink="/auth/login">
            <div class="box-2">
                <div class="btn btn-3">
                  <span>Spektre</span>
                </div>
            </div>
        </a>
    </div>
      </div>
    </div>
  </div>
  <div class="introduccion">
      <p>Este es la pagina de bienvenida de VirtualGadget, aqui encontrarás informacion al respecto de nuestras aplicaciones tales como actualizaciones, novedades y más</p>
  </div>

  <section class="cuad">
  </section>
  <div class="spektre">
    <h1>Spectre</h1>
    <img src="../../../../../assets/img/logoSpektre.svg" width="300px">
  </div>
  <section class="cuad2"></section>

  <div class="novedades" id="actualizaciones">
    <h2>Actualizaciones</h2>
    <div class="caja">
      <div class="update">
        <h3>Diagramas y Tutoriales</h3>
        <ul>
          <li>Llegó el simulador de diagramas, aqui podrás aprender con tutoriales dinámicos</li>
          <li>Escenarios completados, ahora se pueden crear escenarios de diagramas de flujo</li>
          <li>¡A charlar!, unete a las salas de chats y socializa con nuestros usuarios dentro de Spektre</li>
          <li>Cuestionarios Prederminados, seleccciona uno y avanza a diferentes niveles</li>
        </ul>
      </div>
      <div class="updateAct">
        <h3>Actualización de expansión</h3>
        <ul>
          <li>Nuevas pregunta y más respuestas, volvieron los cuestionarios, ahora son personalizados</li>
          <li>En la mira, llegó Bluemile, la mascota interactiva de nuestra empresa, conocela en la página de informacion de VirtualGadget </li>
          <li>Bienvenida nueva tecnologia, se actualizó el estilo de las interfaces para brindar una mejor experiencia</li>
          <li>A el teatro de los sueños, conoce las tarjetas dentro de la biblioteca interactiva</li>
        </ul>
      </div>
      <div class="update">
        <h3>Presalida-5</h3>
        <ul>
          <li>Adios cuestionarios, se eliminaron los cuestionarios predeterminados</li>
          <li>De una galaxia muy muy lejana, se agrego sección en trabajo dentro de conocenos</li>
          <li>Ayudenmeeeee, conoce la nueva sección de ayuda</li>
          <li>Welcome to my house, nueva página de bienvenida, mayor orden</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- <section>
  </section> -->
  <div class="downbar">
    <h3>Derechos reservados pertenecientes a VirtualGadget </h3>
  </div>
</section>
