
<div class="bg-light white border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">
      <img align="center" src="../../../../assets/img/perfil.png" height="60px" alt="">
  </div>
  <div class="list-group list-group-flush">

    <a routerLink="/alumno/inicio" routerLinkActive="act" class="list-group-item list-group-item-action bg-light">
      Inicio
    </a>
    <a routerLink="/alumno/tutorial" routerLinkActive="act" class="list-group-item list-group-item-action bg-light">
      Tutoriales
    </a>
    <a routerLink="/alumno/tutorial" routerLinkActive="act" class="list-group-item list-group-item-action bg-light">
      Chats
    </a>
    <a routerLink="/alumno/tutorial" routerLinkActive="act" class="list-group-item list-group-item-action bg-light">
      Cuestionarios
    </a>
    <a routerLink="/alumno/perfil" routerLinkActive="act" class="list-group-item list-group-item-action bg-light">
      Perfil
    </a>
    <a routerLink="/alumno/tutorial" routerLinkActive="act" class="list-group-item list-group-item-action bg-light">
      Cerrar Sesion
    </a>
  </div>
</div>
