.sidebar-heading h3{
  font-size: 2rem;
  margin-top: 50px;
  color: white;
  padding-left: 10px;
}
.sidebar-heading h2{
  color: #ffffff;
  text-align: left;
  padding-left: 10px;
}

.contenedor p{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}


.head{
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.head img{
  margin: 5px;
  margin-left: 5px;
  border-radius: 100px;
  border: solid black 2px;
}
.head .online{
  color: #ffffff;
  font-size: 1rem;
}
.act{
  background-color: rgb(47, 25, 97) !important;
}

.white{
  background-color: rgb(47, 25, 97) !important;
}
#sidebar-wrapper{
  width: 250px;
  border-right: black !important;
}
.list-group-flush{
  background-color: rgb(74, 52, 126) !important;
  max-width: 250px;
  margin-top: 50px;
}
.list-group-item{
  margin-top: 15px;
  margin-bottom: 15px;
}

a{
  background-color: rgb(74, 52, 126)  !important;
  color: #ffffff;
  width: 250px;
  font-weight: 44px;
  font-size:21px;
}

a:hover{
  color: rgb(198, 174, 255) ;
}

a:focus{
  background-color: rgb(198, 174, 255) !important;
}
