<div class="container">
  <div class="form">
    <div class="contact-info">
      <h2 class="title">Registro</h2>
      <h3 class="title">¡¡¡Momento de iniciar!!!</h3>
      <p class="text">
         Crea una cuenta para acceder a los privilegios de
         Spectre trae para tí o si lo prefieres
         tambien puedes conectar una cuenta con google con
         nosotros
      </p>

      <div class="info">
        <div class="information">
          <p>Accede a nuestras :</p><a class="registro" routerLink="/auth/politics" > Politicas de privacidad y uso</a>
        </div>
      </div>
    </div>

    <div class="contact-form">
      <span class="circle one"></span>
      <span class="circle two"></span>

      <section class="form-login">
          <input class="controls" type="text" name="usuario" value="" placeholder="Usuario" required>
          <input class="controls" type="text" name="pass" value="" placeholder="Contraseña" required>
          <input class="controls" type="text" name="app" value="" placeholder="Nombre" required>
          <input class="controls" type="text" name="app" value="" placeholder="Apellido paterno" required>
          <input class="controls" type="text" name="apm" value="" placeholder="Apellido materno" required>
          <input class="controls" type="email" name="email" value="" placeholder="Correo Electronico" required>
          <input class="check" type="checkbox" name="ter" required> Acepto Politicas de privacidad
          <a href=""><input class="buttons" type="submit" name="" value="Registrar"></a>
          <a href=""><input class="buttons" type="submit" name="" value="Registrar con google"></a>
      </section>
    </div>
  </div>
</div>
