

<app-nabvarp></app-nabvarp>
<section>
  <div class="color"></div>
  <div class="color"></div>
  <div class="color"></div>
  <div class="box">
    <div class="square" style="--i:0"></div>
    <div class="square" style="--i:1"></div>
    <div class="square" style="--i:2"></div>
    <div class="square" style="--i:3"></div>
    <div class="square" style="--i:4"></div>
    <div class="container">
      <div class="form" (ngSubmit)="onSubmit()" [formGroup]="form">
        <h2>Registro</h2>
        <form>
          <div class="inputBox">
            <input formControlName="username" type="text" placeholder="Usuario">
          </div>
          <div class="inputBox">
            <input formControlName="password" type="password" placeholder="Contraseña">
          </div>
          <div class="inputBox">
            <input formControlName="name" type="text" placeholder="Nombre">
          </div>
          <div class="inputBox">
            <input formControlName="apellidop" type="text" placeholder="Apellido Paterno">
          </div>
          <div class="inputBox">
            <input formControlName="apellidom" type="text" placeholder="Apellido Materno">
          </div>
          <div class="inputBox">
            <input formControlName="email" type="email" placeholder="Email">
          </div>
          <div class="inputBox">
            <input formControlName="fechaNac" type="date" placeholder="Fecha de nacimiento">
          </div>
          <div class="inputBox">
            <input type="checkbox">Acepto politicas de Privacidad
          </div>
          <p class="forget">Conoce nuestras <a href="/auth/politics">Politicas de Privacidad</a></p>
          <div class="inputBox">
            <input type="submit" value="Registrar">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
