
<div class="d-flex" id="wrapper">
  <app-profesorsidebar></app-profesorsidebar>
  <!-- Page Content -->
  <div #wrapper id="page-content-wrapper">
    <app-profesornavbar></app-profesornavbar>
    <section >

      <div class="contenido">
          <img src="../../../../../assets/img/logoS1Oscuro.png" width="40%">

          <h1>Bienvenido {{nombrePro}}</h1>
      </div>
  </section>
    <div class="container-fluid content-wrapper">
    </div>
    <!--
      <app-footer></app-footer>
    -->
  </div>
  <!-- /#page-content-wrapper -->
</div>
