
<header class="header">
  <h3>Spectre</h3>
  <div class="perfil">
<!--  <img src="./img/mascota1.svg" width="75px""> -->
      <div class="contenedor">
          <p>Nombre</p>
          <p class="rango">Rango</p>
          <i class="fas fa-globe"></i> <span class="online">online</span>
      </div>
  </div>
  <nav class="direccion">
      <h2>Menu</h2>
      <div class="links">
          <div>
              <a href="./inicio.html" class="as"><i class="fas fa-home"> </i><span>Inicio</span></a>
          </div>
      </div>
     <div class="links">
          <div>
              <a href="./foro.html" class="as"><i class="fas fa-comments"></i><span>Chats</span></a>
          </div>
     </div>
     <div class="links">
      <div>
          <a href="./tutoriales.html" class="as"><i class="fas fa-hands-helping"></i><span>Tutorial</span></a>
      </div>
  </div>
     <div class="links">
         <div>
          <a href="./escenariosI.html" class="as"><i class="fas fa-project-diagram"></i><span>Escenarios</span></a>
         </div>
     </div>
     <div class="links">
         <div>
          <a href="./cuestionariosI.html" class="as"><i class="fas fa-poll-h"></i><span>Cuestionarios</span></a>
         </div>
     </div>
     <div class="links">
         <div>
          <a href="./perfil.html" class="as"><i class="fas fa-user-graduate"></i><span>Perfil</span></a>
         </div>
     </div>
  </nav>
  <div class="salida">
      <a href="./index.html" class="exit"><i class="fas fa-door-closed"><span>Cerrar sesion</span></i></a>
  </div>
</header>
