<div class="container">
  <span class="big-circle"></span>
  <div class="form">
    <div class="contact-info">
      <h3 class="title">¡¡¡Momento de iniciar!!!</h3>
      <p class="text">
        Es el momento, ingresa tu usuario y contraseña 
        y comienza una nueva forma de vida
      </p>

      <div class="info">
        <div class="information">
          <img src="img/location.png" class="icon" alt="" />
          <p>Elaborado por</p>
        </div>
        <div class="information">
          <p>Arana Chavez Emiliano</p>
        </div>
        <div class="information">
          <p>De la Cruz Fuentes Diegos</p>
        </div>
        <div class="information">
          <p>Lizarraga Anguiano Jesus Adrian</p>
        </div>
        <div class="information">
          <p>Núñez Manrique Cuauhtemoc Emmanuel</p>
        </div>
        <div class="information">
          <p>Orduña Melendez Arantza</p>
        </div>
        <div class="information">
          <p>Regalado Zuñiga Leonardo Daniel</p>
        </div>
      </div>

      <div class="social-media">
        <p>Contactanos</p>
        <div class="social-icons">
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fas fa-envelope"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="contact-form">
      <span class="circle one"></span>
      <span class="circle two"></span>

      <section class="form-login">
        <h5>Iniciar Sesión</h5>
        <input class="controls" type="text" name="usuario" value="" placeholder="Usuario">
        <input class="controls" type="password" name="pass" value="" placeholder="Contraseña">
        <a href=".#"><input class="buttons" type="submit" name="" value="Ingresar Alumno"></a>
        <a href="#"><input class="buttons" type="submit" name="" value="Ingresar Profesor"></a>
      </section>
    </div>
  </div>
</div>