


<!--

<div class="fondo">
  <div class="login-page">
    <div class="form">
      <form (ngSubmit)="onSubmit()" [formGroup]="form" class="login-form">
        <input formControlName="username" type="text" placeholder="username"/>
        <input formControlName="password" type="password" placeholder="password"/>
        <button class="spectre" type="submit"> Entrar </button>
        <p class="message">¿Aun no estas registrado? <a href="#">!Crear cuenta!</a></p>
      </form>
    </div>
  </div>
</div>

-->

<app-nabvarp></app-nabvarp>
<section>
  <div class="color"></div>
  <div class="color"></div>
  <div class="color"></div>
  <div class="box">
    <div class="square" style="--i:0"></div>
    <div class="square" style="--i:1"></div>
    <div class="square" style="--i:2"></div>
    <div class="square" style="--i:3"></div>
    <div class="square" style="--i:4"></div>
    <div class="container">
      <div class="form">
        <h2>Inicia Sesion</h2>
        <form [formGroup]="form"
        (ngSubmit)="onSubmit()">
          <div class="inputBox">
            <input type="text" placeholder="Usuario">
          </div>
          <div class="inputBox">
            <input type="password" placeholder="Contraseña">
          </div>
          <div class="inputBox2">
            <a href=".#"  routerLink="/alumno/inicio" ><button type="submit">Ingresar Alumno</button></a>
            <a href="#"  routerLink="/profesor/inicioP"><button type="submit">Ingresar Profesor</button></a>
            <a href="#"  routerLink="/admin/inicioA"><button type="submit">Ingresar Administrador</button></a>
            <button class="button-cfe-full" type="submit">Iniciar sesión</button>
          </div>
          <p class="forget">¿No tienes una cuenta? <a href="/auth/singup">Ingresa Aqui</a></p>
        </form>
      </div>
    </div>
  </div>
</section>
