/*
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body { background-color: black; }


.fondo{

  width: 100% !important;
  height: 100% !important;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #824caf;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #6443a0;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4c87af;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #76b852;
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/
.button-cfe-full{
  font-size: 22px;
}

.message-erro{
  color:red;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
}
section .color{
  position: absolute;
  filter: blur(150px);
}

section .color:nth-child(1){
  top: -350px;
  width: 800px;
  height: 800px;
  background: #1847ac;
}

section .color:nth-child(2){
  bottom: -150px;
  left: 100px;
  width: 550px;
  height: 550px;
  background: #371b92;
}

section .color:nth-child(3){
  bottom: 50px;
  right: 100px;
  width: 400px;
  height: 400px;
  background: #61229c;
}
.box{
  position: relative;
}
.box .square{
  position: absolute;
  backdrop-filter: blur(5px);
  box-shadow: 0 25 45px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  animation: animate 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}
.box .square:nth-child(1){
  top: -50px;
  right: -60px;
  width: 100px;
  height: 100px;
}
.box .square:nth-child(2){
  top: 150px;
  left: -100px;
  width: 120px;
  height: 120px;
  z-index: 2;
}
.box .square:nth-child(3){
  bottom: 50px;
  right: -60px;
  width: 80px;
  height: 80px;
  z-index: 2;
}
.box .square:nth-child(4){
  bottom: -80px;
  left: 100px;
  width: 50px;
  height: 50px;
}
.box .square:nth-child(5){
  top: -80px;
  left: 140px;
  width: 70px;
  height: 70px;
}
.container{
  position: relative;
  width: 400px;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 25 45px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.form{
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
}
.form h2{
  position: relative;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.form h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 180px;
  height: 4px;
  background: rgb(0, 0, 0);
}
.form .inputBox{
  width: 100%;
  margin-top: 20px;
}
.form .inputBox input{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
  box-shadow: 0 5px 15px rgba(121, 1, 1, 0.05);
}
.form .inputBox2{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
.form .inputBox2 button{
  margin: 5px;
  width: 125px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-right: e solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 12px;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
  box-shadow: 0 5px 15px rgba(121, 1, 1, 0.05);
}
.form .inputBox input::placeholder{
  color: #000000;
}
.form .inputBox input[type="submit"]{
  background: rgb(0, 0, 0);
  color: #777;
  max-width: 110px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
}
.forget{
  margin-top: 5px;
  color: rgb(0, 0, 0);
}
.forget a{
  color: white;
  font-weight: 500;
  text-decoration: none;
}
@keyframes animate {
  0%,100%{
    transform: translateY(-40px);
  }
  50%{
    transform: translateY(40px);
  }
}
