*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  z-index: -1;
  background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
}
section .color{
  position: fixed;
  filter: blur(150px);
}

section .color:nth-child(1){
  top: -350px;
  width: 150px;
  height: 900px;
  background: #c88dff;
}

section .color:nth-child(2){
  bottom: -150px;
  left: 100px;
  width: 80px;
  height: 550px;
  background: #7ca5ff;
}

section .color:nth-child(3){
  bottom: 50px;
  right: 100px;
  width: 400px;
  height: 400px;
  background: #ab91ff;
}
.box{
  position: relative;
}

.message-erro{
  color:red;
}

.box .square{
  position: absolute;
  backdrop-filter: blur(5px);
  box-shadow: 0 25 45px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  animation: animate 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}
.box .square:nth-child(1){
  top: -50px;
  right: -60px;
  width: 100px;
  height: 100px;
}
.box .square:nth-child(2){
  top: 150px;
  left: -100px;
  width: 120px;
  height: 120px;
  z-index: 2;
}
.box .square:nth-child(3){
  bottom: 50px;
  right: -60px;
  width: 80px;
  height: 80px;
  z-index: 2;
}
.box .square:nth-child(4){
  bottom: -80px;
  left: 100px;
  width: 50px;
  height: 50px;
}
.box .square:nth-child(5){
  top: -80px;
  left: 140px;
  width: 70px;
  height: 70px;
}
.container{
  position: relative;
  width: 400px;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 0;
  backdrop-filter: blur(5px);
  box-shadow: 0 25 45px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
li{
    margin-top: 10px;
    text-decoration: none;
    list-style: none;
}
.form{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
}
h2{
  position: relative;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 80px;
  height: 4px;
  background: rgb(255, 255, 255);
}
.form .inputBox{
  width: 100%;
  margin-top: 20px;
}
.form .inputBox input{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
  box-shadow: 0 5px 15px rgba(121, 1, 1, 0.05);
}

.form .inputBox input::placeholder{
  color: #000000;
}
.form .inputBox input[type="submit"]{
  background: white;
  color: #777;
  max-width: 110px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 500;
}
.forget{
  margin-top: 5px;
  color: rgb(5, 5, 5);
}
.forget a{
  color: rgb(33, 42, 156);
  font-weight: 500;
  text-decoration: none;
}
@keyframes animate {
  0%,100%{
    transform: translateY(-40px);
  }
  50%{
    transform: translateY(40px);
  }
}
