<nav appNavToogle id="barra" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <button (click)="wrapp()"  class="text-start navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="white bur fas fa-bars"></i>
  </button>
  <button id="perfil" class="text-end navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContentUser" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="white bur fas fa-user"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContentUser">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/login" >Cerrar sesión</a>
      </li>
    </ul>
  </div>
</nav>
