

.act{
  color: #7128b6;
  background-color: white !important;
}

.white{
  background-color: white !important;
}

#sidebar-wrapper{

  border-right: black !important;
  width: 250px !important;
}

a{
  background-color: white !important;
  color: #39393a;
  font-weight: 44px;
  font-size:25px;
  width: 250px !important;
}

a:hover{
  background-color: white !important;
  color: #6d20c5;
}

a:focus{
  background-color: white !important;
}
