.sidebar-heading{
  background-color: #0b1f46 !important;
}
.head{
  margin-top: 25px;
  width: 100%;
}
img{
  margin: 25px 0;
}
.act{
  color: #ffffff;
  background-color: rgb(25, 50, 97) !important;
}

.white{
  background-color: #0b1f46 !important;
}
.list-group{
  margin-top: 50px;
  background-color: rgb(25, 50, 97) !important;
}
.list-group-item{
  margin-top: 15px;
  margin-bottom: 15px;
}

#sidebar-wrapper{
  background: red;
  width: 250px !important;
}

a{
  background-color: rgb(25, 50, 97) !important;
  color: #ffffff;
  font-weight: 44px;
  font-size:21px;
}

a:hover{
  color: #206dc5;
  padding-left: 10px;
}

a:focus{
  background-color: #3256ce !important;
}
