
<div class="bg-light white border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">
      <h3>Spectre</h3>
      <h2>Alumno</h2>
      <div class="head">
        <img src="../../../../assets/img/perfil.png" height="70px" alt="">
        <div class="contenedor">
          <p>Nombre</p>
          <i class="fas fa-globe"></i> <span class="online"> Online</span>
        </div>
      </div>
  </div>
  <div class="list-group list-group-flush">

    <a routerLink="/alumno/inicio" routerLinkActive="act" class="list-group-item list-group-item-action bg-light">
      Inicio
    </a>
    <a routerLink="/alumno/tutorial" routerLinkActive="act" class="list-group-item list-group-item-action bg-light">
      Chats
    </a>
    <a routerLink="/alumno/tutorial" routerLinkActive="act" class="list-group-item list-group-item-action bg-light">
      tutorial
    </a>
    <a routerLink="/alumno/tutorial" routerLinkActive="act" class="list-group-item list-group-item-action bg-light">
      Escenarios
    </a>
    <a routerLink="/alumno/tutorial" routerLinkActive="act" class="list-group-item list-group-item-action bg-light">
      Cuestionarios
    </a>
    <a routerLink="/alumno/perfil" routerLinkActive="act" class="list-group-item list-group-item-action bg-light">
      Perfil
    </a>
  </div>
</div>
