<h1>Aviso de privacidad y terminos de uso</h1>
<h2>Bienvenida</h2>
<p>Te damos la bienvenida a Spectre, el servicio en línea de la empresa 
    VirtualGadget. Nuestro Aviso de privacidad explica cómo recopilamos,
    utilizamos, difundimos y protegemos la información relacionada 
    con nuestro Servicio, así como tus opciones sobre la recopilación y 
    el uso de tu información.
</p>
<ul>
    <li>1.Informacion que recopilamos y el uso que haremos de ella
        <ul>1.1 Información que proporcionas directamente
            <li>Al abrir una cuenta en Spectre te solicitamos la siguiente información; nombre, apellidos, fecha de nacimiento, correo electrónico, 
                así como el nombre del usuario y su contraseña con la que podrás ingresar a el sistema.
            </li>
            <li>Asimismo, recopilamos cualquier mensaje que nos envíes a través del 
                Servicio de ayuda y tus archivos de usuario (como diagramas que subas para
                utilizarlos posteriormente) Utilizamos esa información para desarrollar, 
                mantener y facilitarte las características y la funcionalidad del 
                servicio y para solucionar cualquier problema que tengas con el servicio
            </li>
            <li>
                Si no nos proporcionas tu información personal, es posible que 
                no puedas utilizar o acceder a nuestro servicio, o que tu 
                experiencia de uso del servicio no sea tan agradable como en caso de hacerlo.
            </li>
        </ul>
        <ul>
            1.2 Información que guardaremos automáticamente
            <li>
                Los datos de tu perfil así como el progreso que tengas en el mismo 
                se guardará automáticamente con el fon de que tengas una buena 
                experiencia al momento de usar nuestros servicios.
            </li>
        </ul>
    </li>
    <li>2. Como usaremos tu información
        <ul>
            <li>
                Inicio de sesión: Utilizamos la información que nos proporcionas para el 
                uso de nuestro servicio, Esto incluye el permiso para que accedas 
                 gestionar y mantener tus diseños, así como tener acceso a funciones exclusivas.
            </li>
            <li>
                Servicio personalizado para cada usuario: Utilizamos 
                información que nos proporcionas e información sobre ti para 
                asegurarnos de que tu uso del sistema esté personalizado para tus necesidades. 
                Por ejemplo, si nos 
                dices cuál es tu profesión para recomendarte diseños que puedan 
                ser relevantes para ti.
            </li>
            <li>
                Para comunicarnos contigo sobre el Servicio: Utilizamos tu 
                información de contacto para ponernos en contacto contigo y enviarte 
                comunicaciones sobre elementos críticos del sistema. Por ejemplo, 
                podríamos enviarte mensajes de correo electrónico 
                sobre problemas técnicos, alertas de seguridad o temas administrativos.
            </li>
            <li>
                Felicidad del usuario: Utilizamos información sobre ti, 
                información que proporcionas a nuestro equipo para lograr la satisfacción 
                del usuario e información sobre tus interacciones con el sistema para 
                solucionar problemas técnicos que tengas con el sistema y para asegurarnos 
                de que podamos solucionar y mejorar nuestro servicio para todos los usuarios de Spectre.
            </li>
            <li>
                Para temas que hayas aceptado explícitamente: 
                De vez en cuando Spectre puede pedirte permiso para utilizar tu información 
                para un fin concreto. Cuando aceptes, la utilizaremos para dicho fin. 
                Cuando ya no quieras que utilicemos tu información para ese fin, puedes 
                anular tu permiso para este uso, así mismo puedes anular tu servicio de Spectre.
            </li>
        </ul>
    </li>
    <li>3. Limitantes del alcance de tu información (divulgación)
        <ul>Cabe resaltar que tu información no será vendida, alquilada o divulgada con empresas terceras a VirtualGadget, únicamente será usada dentro del 
            sistema del servicio Spectre únicamente con previa autorización del usuario.
            <ul>3.1 Con quien compartiremos tu información
                <li>
                    Tu información será compartida con fines dentro del servicio Spectre, con el fin de proporcionar una experiencia agradable dentro del mismo; alguno
                     de los fines con los que se podrá compartir tu información son los siguientes: 
                </li>
                <li>
                    Atención y servicio al cliente: Tu información será compartida en caso de reportar y/o solicitar
                    apoyo para la búsqueda a pronta solución a un problema dentro del sistema.
                </li>
                <li>
                    Servicios de correos electrónicos: Al ingresar a el servicio Spectre se te solicito un correo electrónico, en el que se compartirá tu 
                    información en caso de que la requieras (Extravío de contraseña, entre otros).
                </li>
            </ul>
            <ul>3.2 Elige con quien quieres compartir tu información
                <li>
                    El usuario es el único que puede decidir con quien desea compartir su información de manera externa al servicio Spectre, puedes compartir tu 
                    información por diversos medios, sin embargo, no es recomendable para el usuario.
                </li>
            </ul>
            <ul>
                3.3 Compartir información con terceros
                <li>
                    A continuación, se mencionan los términos 
                    en caso de compartir información con terceros:
                </li>
                <li>
                    La empresa VirtualGadget no se hace responsable de problemas 
                    derivados con que el usuario decida compartir su información con terceros,
                     la empresa se hace responsable únicamente de daños 
                    relacionados con el sistema Spectre causados únicamente por la misma.
                </li>
                <li>
                    Nuestro principal objetivo es salvaguardar la 
                    seguridad del usuario, por lo que se menciona en este párrafo, el único responsable de compartir datos que se encuentren dentro del sistema 
                    con aplicaciones terceras, nosotros no compartiremos 
                    datos del usuario, excepto en caso de previa AUTORIZACIÓN del usuario.
                </li>
            </ul>
        </ul>
    </li>
    <li>4.Terminos de uso
        <ul>Nuestro servicio
            <li>
                Al aceptar esta clausulas te vuelves un miembro del servicio Spectre, accedes a todos los beneficios que trae esta opción los cuales son:
            </li>
            <li>
                Nuestro servicio cuenta con editor de diagramas, así como un guía para enseñar cual es la función de cada uno.
            </li>
            <li>
                Herramientas exclusivas para la elaboración de diagramas, así como guardar los mismos.
            </li>
            <li>
                Compartir archivos dentro del sistema Spectre
            </li>
        </ul>
    </li>
</ul>
<ul>
    <li>
        Al mismo tiempo das acceso a VirtualGadget a tu información con el fin de ofrecer una mejor experiencia y te haces responsable de cualquier problema causado por ti que involucre a el sistema Spectre, teniendo en cuenta que VirtualGadget dentro del sistema Spectre puede compartir tu información dentro de las funciones mencionadas en el punto 3.1.
    </li>
    <li>
        Spectre es un sistema de edición y creación de diagramas el ámbito educativo, CUALQUIER USO DISTINTO A ESTE, ES TOTALMETE RESPONSABILIDAD DEL USUARIO, ASI MISMOS nos hacemos responsables de cualquier problema surgido por nuestro sistema.
    </li>
    <li>
        Aceptando estos términos cuentas con todos los beneficios que Spectre puede brindarte con el fin de que tengas una experiencia agradable esperando cumplir el objetivo principal de ese sistema
    </li>
</ul>