
.nav-link{
  cursor: pointer;
}

a{
  color: white !important;
}

#barra{
  width: 100%;
}

nav{
  background-color: #3e038b !important;
  width: 100% !important;
}


button{
  border: 1px solid white !important;
}

.white{
  color: white;
}

